.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.photo-card {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc((100% - 40px) / 4);
  border-radius: 2px;
  border: rgb(0, 26, 255) solid 1px;

  &:hover img {
    filter: grayscale(0);
    transition: filter 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.photo-card img {
  height: 205px;
}
